@font-face {
  font-family: 'spiegelbold';
  src: url('../assets/fonts/spiegel_tt_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'spiegelregular';
  src: url('../assets/fonts/spiegel_tt_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'spiegel_semibold';
  src: url('../assets/fonts/spiegel_tt_semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
